<app-model id="edit-clip">
  <p class="text-2xl font-bold" heading>Edit Video</p>

  <!-- Alert -->
  <app-alert [styles]="alert.styling" [show]="alert.show">
    {{ alert.message }}
  </app-alert>

  <!-- Form -->
  <form [formGroup]="editForm">
    <!-- Title -->
    <div class="mt-4">
      <label class="block text-xl mb-4">Title</label>
      <app-input placeholder="Enter Title" [control]="titleControl"></app-input>
    </div>

    <div class="mt-4 text-right">
      <button
        type="submit"
        [ngClass]="{
          'block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition': true,
          'hover:bg-indigo-500 cursor-pointer opacity-100':
            editForm.valid && !inSubmition,
          'disabled: opacity-50 disabled:bg-indigo-400 cursor-not-allowed':
            !editForm.valid || inSubmition
        }"
        [disabled]="!editForm.valid || inSubmition"
        (click)="updateClip()"
      >
        Submit
      </button>
    </div>
  </form>
</app-model>
